.cert-form {
  // box model
  padding: 0.5rem;

  // border
  border: 2px solid $black;

  // visual
  opacity: 0.8;

  @media print {
    // border
    border: none;
  }
}

.cert-form__header {
  // box model
  padding: 0.2rem 2rem;
  padding-right: 5rem;
  padding-bottom: 4rem;

  // border
  border: 2px solid $black;

  @media print {
    // border
    border: none;
  }
}

.cert-form__main {
  // box model
  padding: 2rem 1.75rem;
  padding-right: 5rem;

  // border
  border: 2px solid $black;

  @media print {
    // border
    border: none;
  }
}

.cert-form__main-label {
  // box model
  display: block;

  // typography
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;

  @media print {
    // typography
    color: transparent;
  }
}

.cert-form__top-fields {
  // box model
  padding-top: 1rem;
  padding-left: 23rem;
}

.cert-form__number {
  // box model
  padding-bottom: 0.5rem;
}

.cert-form__main-fields {
  // positioning
  position: relative;

  // box model
  padding-top: 3.25rem;
}

.cert-form__input {
  // box model
  display: block;

  // typography
  font-size: 1.4rem;

  &--title {
    // box model
    width: 100%;
  
    // typography
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }

  &--regnum {
    // box model
    width: 100%;
  
    // typography
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  &--inline {
    // box model
    display: inline-block;
    width: 120px;
    margin-right: 15px;
  }

  &--number {
    // box model
    display: inline-block;
    width: 240px;
  }

  &--sign {
    // box model
    display: inline-block;
    width: 18rem;

    // typography
    font-size: 1.25rem;
  }

  &--deputy {
    // box model
    width: 200px;

    // typography
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  @media print {
    // border
    border: none;
  }
}


.cert-form__label {
  // typography
  font-size: 1.45rem;
  white-space: nowrap;

  &--top {
    // typography
    font-size: 1.75rem;
  }
  
  &--caps {
    // positioning
    position: relative;
    z-index: 2;
  
    // typography
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  @media print {
    // typography
    color: transparent;
  }
}


.cert-form__textarea {
  // box model
  width: 100%;

  // typography
  font-size: 1.4rem;
  line-height: 1.2;

  // visual
  resize: none;

  &--product {
    // box model
    margin-top: -1.5rem;

    // typography
    text-indent: 12rem;
  }

  &--producer {
    // box model
    margin-top: -2rem;

    // typography
    text-indent: 15rem;
  }

  &--given {
    // box model
    margin-top: -2rem;

    // typography
    text-indent: 20rem;
  }

  &--reason {
    // box model
    margin-top: -2rem;

    // typography
    text-indent: 16rem;
  }

  &--additional {
    // box model
    margin-top: -2rem;

    // typography
    font-size: 1.25rem;
    text-indent: 32rem;
  }

  @media print {
    // border
    border: none;
  }
}

.cert-form__fullsize {
  // positioning
  position: relative;

  &--organ {
    // box model
    margin-bottom: 0.75rem;
  }

  &--product {
    // box model
    margin-bottom: 0rem;
    margin-right: 16rem;
    padding-right: 2rem;
  }

  &--norms {
    // box model
    margin-top: -0.5rem;
    margin-right: 16rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }

  &--producer {
    // box model
    // margin-bottom: 0.5rem;
  }

  &--given {
    // box model
    // margin-bottom: 0.25rem;
  }

  &--reason {
    // box model
    margin-bottom: 1.5rem;
  }
}

.cert-form__floating {
  // positioning
  position: absolute;
  right: 0px;

  // box model
  width: 150px;

  &--ok {
    // positioning
    top: 160px;
  }

  &--ved {
    // positioning
    top: 275px;
  }

  &--deputy {
    // positioning
    bottom: -42px;
    right: auto;
    left: 140px;
  }
}

.cert-form__sign-fields {
  // box model
  // padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.cert-form__sign {
  // box model
  margin-bottom: 1.75rem;

  // typography
  text-align: right;
}
