section.cert-form__sign-fields
    .cert-form__floating.cert-form__floating--deputy
        input.cert-form__input.cert-form__input--deputy(type="text" value="(Заместитель руководителя)")

    .cert-form__sign
      label.cert-form__label Руководитель органа&nbsp;&nbsp;&nbsp;
      input.cert-form__input.cert-form__input--sign

    .cert-form__sign
      label.cert-form__label Эксперт&nbsp;&nbsp;&nbsp;
      input.cert-form__input.cert-form__input--sign
