section#products-add.sheet.print-sheet
  article
    form.cert-form(action="")
      header.cert-form__header
        label.cert-form__main-label Добровольная сертификация продукции (прил)
        input.cert-form__input.cert-form__input--title(type="text" value="Система добровольной сертификации «ЭКСКО»")
        input.cert-form__input.cert-form__input--regnum(type="text" value="Рег. № РОСС RU.32223.04СКЭ0")

      section.cert-form__main
        .cert-form__top-fields-2
          .cert-form__number
            label.cert-form__label.cert-form__label--top №&nbsp;&nbsp;&nbsp;
            input.cert-form__input.cert-form__input--number(type="text")

        .cert-form__main-fields
          .cert-form__fullsize.cert-form__fullsize--products-add
            label.cert-form__label.cert-form__label--caps Текст
            textarea.cert-form__textarea.cert-form__textarea--cert(name="", cols="30", rows="40")

      include ./__sign-fields.pug

