html {
  // box model
  // padding: 1rem;
  padding: 0;
  margin: 0;

  // typography
  font-size: 10px;
  font-family: 'PT Serif', Times, serif;

  // visual
  background-color: $html-background;
}

body {
  // box model
  margin: 0 auto;
  padding: 4rem;

  // visual
  background-color: $body-background;
}

.sheet {
  // visual
  background-image: url('../assets/img/cert-form.jpg') !important;
  background-size: contain !important;
  // background-image: none !important;
}

// @page {
//   width: 21cm;
//   height: 29.7cm;
//   // margin: 30mm 45mm 30mm 45mm;
//   margin: 0mm;
// }

@page {
  size: A4;
}
