<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ЭКСКО — Формы
  body.A4
    ul.sheet-switch
      li.sheet-switch__tab
        a(href="#" data-tab="products-main").sheet-switch__link.sheet-switch__link--current Продукция
      li.sheet-switch__tab
        a(href="#" data-tab="products-add").sheet-switch__link Продукция - доп
      li.sheet-switch__tab
        a(href="#" data-tab="services-main").sheet-switch__link Услуги
      li.sheet-switch__tab
        a(href="#" data-tab="services-add").sheet-switch__link Услуги - доп

    include ./modules/_products-main.pug
    include ./modules/_products-add.pug
    include ./modules/_services-main.pug
    include ./modules/_services-add.pug
