<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet", href="./style.css")
    title ЭКСКО — 
  body
    main
      form.cert-form(action="")
        header.cert-form__header
          label.cert-form__main-label Добровольная сертификация продукции
          input.cert-form__input(type="text")
        section.cert-form__main
          .cert-form__top
            .cert-form__number
              label.cert-from__label №
              input.cert-form__input(type="text")
            .cert-form__dates
              label.cert-from__label Срок действия с
              input.cert-form__input(type="text")
              label.cert-from__label по
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label Орган по сертификации
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label Продукция
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label Соответствует требованиям нормативных документов
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label Изготовитель
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label Сертификат выдан
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label На основании
              input.cert-form__input(type="text")
            .cert-form__fullsize
              label.cert-from__label Дополнительная информация
              input.cert-form__input(type="text")
